.Projectfooter {
  padding: 20px 0px;
  margin-top: 20px;
}
.list_items #List{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
}

@media and  screen(min-width:720px){
  .list_items #List{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}
